.Style_subheader {
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 14px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: #00F7E8;
}

a {
    text-decoration: underline; !important
}

.Style_normal {
    color: #158780;
    font-family: 'Open Sans', sans-serif;
}

.BufferLine .Style_input, .BufferWindow .Input.LineInput {
    font-family: 'Open Sans', sans-serif;
    color: white; !important
}

.Style_input + .Style_normal, .InvisibleCursor + .Style_normal {
    font-size: 20px; !important
}

.BufferWindow .Input.LineInput {
    font-size: 13px;
}

.container #gameport {
    left: 21.4em; !important
}

.Style_note {
    color: #759E22; !important
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace; !important
}

.WindowFrame.GridWindow .Style_normal {
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: #00B51B; !important
}

body, html, .WindowFrame.BufferWindow, .WindowFrame.GridWindow {
    background-color: #272727; !important
}

.WindowFrame.BufferWindow {
    top: 68px;
}


.WindowFrame.GridWindow {
    bottom: 682px;
    padding-top: 22px;
}
