.Style_subheader {
	font-family: 'Lucida Sans Typewriter', 'Lucida Console', monaco, 'Bitstream Vera Sans Mono', monospace;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 26.4px;
    color: #00F7E8;
}

.Style_normal {
    color: #921D28;
}

#gameport {
    left: 21.4em; !important
}

body, html, .WindowFrame.BufferWindow {
    background-color: #272727; !important
}

